html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 80px;
	font-family: 'Droid Serif', serif;
}

.password	{
    text-align: center;
    color: #E93E0A;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    min-height: 72px;
    padding: 0;
    margin: 0 0 20px 0;
}

#numwords {
	width: 50px;
	display: inline;
}

.control-label	{
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	color: #0C6F84;
}

h1 small {
	color: #E93E0A;
	}

.btn-default {
	background-color: #0C6F84;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
}

.btn-default:hover {
	background-color: #303E59;
	color: #FFF;	
	font-family: 'Oswald', sans-serif;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #EEE;
	padding: 20px 5px;
	height: 60px;
}
